/* Reset styli*/

* {
    margin: 0;
    padding: 0;
}

/* Określenie właściwości globalnych */

html {
    font-size: 10px;
    font-family: 'Montserrat', 'arial', sans-serif;
    color: #F5C031;
    background-color: rgb(59, 41, 41);
}

/* Nawigacja */

nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(55, 36, 36, 0.8382703423166141) 100%, rgba(0, 212, 255, 1) 100%);
    text-align: right;
}

    nav.clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    nav div.logo {
        width: 20%;
        margin-right: 10%;
        height: 40px;
        float: left;
    }

    nav ul {
        width: 70%;
        height: 40px;
        list-style: none;
        float: left;
    }

        nav ul li {
            float: right;
            width: 10%;
        }

            nav ul li a.account {
                display: block;
                font-size: 1.5rem;
                text-align: left;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 40px;
                letter-spacing: 1px;
                padding: 10px;
                transition: .30s;
            }

                nav ul li a.account:hover {
                    color: #eee;
                    border: 1px solid #F5C031;
                    border-radius: 20px;
                }

/*Header */

header {
    height: 40vh;
    background-image: url(../img/rocks_1920x400.jpg);
}

    header h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 30vh;
    }

/* Main */

main {
    max-width: 1440px;
    margin: 5vh auto;
}

    main p.description {
        font-size: 2.2rem;
        text-align: center;
        margin: 0 30px 50px 30px;
        line-height: 180%;
    }

    main div.feature {
        display: inline-block;
        width: 33.33%;
    }

    main div.image {
        height: 200px;
        background-color: royalblue;
        margin: 20px 30px;
    }

        main div.image:hover {
            background-color: aliceblue;
        }

    main h2 {
        font-size: 2rem;
        text-align: center;
    }

/* Stopka*/

footer {
    background-color: #000;
}

    footer p {
        text-align: center;
        padding: 2rem 0;
        font-size: 2rem;
    }
