<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Baza TOPO</title>
    <meta name="description" content="Baza TOPO dróg wspinaczkowych">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    @*<link rel="stylesheet"
          asp-href-include="bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />*@
    <meta name='keywords' content='topo, wspinanie, wspinaczka'>

    <!--   32 x 32 W tym przypadku w folderze głównym -->
    <!--  Dodać też (dla starych przeglądarek) favicon.ico w rozmiarze 16x16 też w katalogu głównym -->
    <link rel="icon" href="favicon.png">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Rejestracja</a></li>
        </ul>
    </nav>
    <header>
        <h1>Baza TOPO dróg wspinaczkowych</h1>
    </header>
    <main>
        @RenderBody();
    </main>
    <footer>
        <p>&copy; Baza TOPO</p>
    </footer>
</body>
</html>